.about__content {
  display: flex;
  max-width: 850px;
  margin: 0 auto;
  gap: 120px;
  margin-top: 96px;
  margin-bottom: 96px;

  &-h1 h1 {
    color: #545454;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    font-family: Georgia;
    width: 340px;
  }

  &-text p {
    color: #4c4c4c;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    font-family: Arial;
  }

  @media screen and (max-width: 768px) {
    align-items: center;
    flex-direction: column-reverse;
    width: 437px;

    .about__image img {
      width: 300px;
      height: 408px;
    }
  }
}
